* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
}
body {
  /* background-image: url(Pictures/bg.jpg); */
  background-color: #111111;
  color: white;
  overflow-x: hidden;
  font-size: 18px;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 2em;
  color: #ff0064;
}

h4 {
  font-size: 1em;
  color: #ff0064;
}

h1,
h2,
h3,
h4 {
  margin: 1em auto;
}

p,
form {
  line-height: 2;
  font-size: 1rem;
  color: #efefef;
}

.nav {
  background-color: #0f0f0f;
  padding: 20px;
  position: static;
  z-index: 100;
  justify-content: space-between;
}
.nav-links {
  list-style: none;
  display: flex;
}

.nav-links a {
  color: #efefef;
  text-decoration: none;
  font-size: 1rem;
  margin: 5px 10px;
  font-weight: bold;
  text-transform: uppercase;
}

.nav-links li:hover {
  transform: scale(1.1);
}

.nav a.active {
  color: #ff0064;
}

.logo {
  width: 3rem;
}
.toggler {
  color: #ff0064;
  font-size: 1.4em;
  display: none;
  cursor: pointer;
  border: none;
  background: none;
}

.about-container {
  padding: 20px;
  text-align: center;
}
.about {
  width: 60%;
  text-align: left;
  margin: 10px auto;
}

/* Caption text */
.text {
  padding: 8px 12px;
  position: absolute;
  bottom: 50px;
  width: auto;
  text-align: center;
}
.carousel .carousel-item img {
  opacity: 0.2;
}

.carousel-caption {
  /* background-color: rgba(0, 0, 0, 0.8); */
  border-radius: 20px;
}
.carousel-caption h2,
.carousel-caption h3 {
  font-weight: 500;
}

/* ............................animations   ................................. */
.fade-in {
  opacity: 0;
  transform: translateY(50px);
  transition: all 1s ease-out;
}
.fade-in.appear {
  opacity: 1;
  transform: translateY(0);
}

.contact-form {
  margin: 10px;
  display: block;
  color: white;
  border: none;
  padding: 30px;
  border-radius: 20px;
  border: 3px solid rgba(0, 0, 0, 0.2);
  box-shadow: 1px 2px 2px #111111, -1px -2px 2px #121212;
}

.contact-form input {
  color: white;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin: 7px;
  width: 90%;
  outline: none;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.3);
  /* box-shadow: inset 1px 2px 1px #1e1e1e, inset -1px -1px 1px #111111; */
}

.textarea {
  overflow: auto;
  vertical-align: top;
  height: 200px;
}

.clearfloat {
  clear: both;
}

iframe {
  color: black;
  font-size: 20px;
  height: 330px;
  padding: 10px;
  border-radius: 20px;
}
figcaption {
  color: #efefef;
}
/* audio{
  background-color: #0f0f0f;
  color: #0f0f0f;
} */

.logo-2 {
  width: 200px;
  padding: 5px;
  border: none;
}
.button,
.social-links a {
  background-color: #ff0064;
  color: #ffffff;
  padding: 0.5rem;
  border-radius: 10px;
  margin: 1.5em auto;
  text-decoration: none;
  font-weight: bold;
}

.button:hover , .social-links a:hover{
  background-color: #efefef;
  color: #ff0064;
}

.newsbutton {
  text-align: center;
  background-color: #ff0064;
  color: white;
  font-size: 1rem;
  padding: 10px;
  position: relative;
}

.newsbutton:hover {
  background-color: white;
  color: #ff0064;
  transition: background-color 1s ease-out;
}

audio {
  color: whitesmoke;
  font-size: 20px;
  padding: auto;
}

.pagefooter .fa {
  display: inline-block;
  padding: 7px;
  font-size: 15px;
  background: #000000;
  color: #ff0064;
  width: 35px;
  height: 35px;
  align-self: center;
  text-align: center;
  text-decoration: none;
  margin: 5px;
  border-radius: 10px;
  cursor: pointer;
  clear: both;
}

.pagefooter .fa:hover {
  transform: scale(1.3);
  color: #ff0064;
  text-decoration: none;
}

.footercontainer {
  padding: 50px 0 50px 0;
  *zoom: 1;
  /* width: 100%;
  min-width: 100%; */
  background-color: #0f0f0f;
}
.pop-up {
  background-color: rgba(0, 0, 0, 0.3);
}
.pagefooter {
  padding: 50px 0 0 0;
  text-align: center;
  display: block;
  letter-spacing: 2px;
  word-spacing: 1px;
}

.address p a {
  font-size: 18px;
  color: #ffff;
}
.address a {
  text-decoration: none;
}
.pagefooter address p {
  font-family: sans-serif;
  font-size: 12px;
  letter-spacing: 3px;
  word-spacing: 3px;
  line-height: 30px;
  font-style: normal;
  font-style: inherit;
  color: #434343;
}

.pagefooter address a {
  color: #434343;
  text-decoration: none;
  font-size: 13px;
  font-style: normal;
}

.newsletter-form {
  margin: 1rem auto;
  display: flex;
  justify-content: center;
  width: 400px;
}
.newsletter-form input[type="email"] {
  width: 70%;
  border: none;
  background: #353535;
  color: white;
  padding: 10px;
  outline: none;
}

.newsletter-form input[type="email"]:hover,
.newsletter-form input[type="email"]:focus {
  background: #4f4f4f;
}

.copyright {
  display: block;
}

.copyright p {
  color: #434343;
  font-weight: 300;
  font-size: 10px;
  padding: 20px;
  background-color: #050505;
}
@media only screen and (max-width: 800px) {
  .toggler {
    display: block;
    position: absolute;
    right: 1em;
  }
  .nav {
    position: relative;
    justify-content: space-between;
    text-align: center;
  }
  .nav-links {
    height: 100vh;
    display: none;
    background-color: inherit;
    margin: 1em auto;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .nav-links li {
    margin: 1em auto;
  }
  .show {
    display: flex;
  }
  .about {
    width: 100%;
  }
}
